<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{etc/fragments/Main_layout}">
<head>
<meta charset="UTF-8">
<title th:text="${EventView.title}"></title>
<style type="text/css">
#jumbotronId{
    background-color: white;
}
</style>
</head>
<body>
<div layout:fragment="content" class="container">
		<div class="jumbotron" id="jumbotronId">
			<h3>모임 게시판</h3>
			<h1 th:text="${EventView.title}">제목</h1>
			<span th:text="${EventView.writeTime} + ' | '">작성일</span>
			<span th:text="'조회수 : ' + ${EventView.hit}"></span>
			<form>
				<div>
					<br/>
					<span th:text="'이벤트 내용'"></span>
					<p th:text="${EventView.content}"></p>
				</div>
				<div>
					<span>모임정보</span>
					<ul>
						<li th:text="'이벤트 기간 : '+
						${#dates.format(EventView.eventStartTime, 'yyyy-MM-dd HH:mm')} + ' ~ ' +
						${#dates.format(EventView.eventEndTime, 'yyyy-MM-dd HH:mm')}"></li>						
						<li th:text="'접수 기간 : '+
						${#dates.format(EventView.acceptStartTime, 'yyyy-MM-dd HH:mm')} + ' ~ ' +
						${#dates.format(EventView.acceptEndTime, 'yyyy-MM-dd HH:mm')}"></li>
						<li th:text="'모집 인원 : '+${EventView.recruitNumber}+'/'+${EventView.recruitMaxNumber}+'명'"></li>
					</ul>
				</div>
			</form>

<!-- 			<input type="checkbox" onclick="toggleOn(this)"/> -->
		<!-- 참가하기 모달창 (로그인시에만 참가하기 구현필요, 인원이 만석되면 참가불가 구현필요)-->
			<a class="btn btn-success" data-toggle="modal" href="#myModal1" th:text="'참가하기'"></a>
			  <!-- Modal1 -->
				  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog modal-sm" role="document">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <h5 class="modal-title" id="myModalLable" th:text="'모임에 참가하시겠습니까?'"></h5>
				          <button type="button" class="close" data-dismiss="modal" th:text="'x'"></button>
				        </div>
						<div class="modal-body">
							<form id="goform" action="/eparticipate">
								회원번호:<input type="number" name="memberNumber">					
								<input type="hidden" name="writingNumber" th:value="${EventView.writingNumber}">
							</form>
								<button type="submit" class="btn btn-success" id="signin" form="goform" th:text="'참가'"></button>
								<button type="button" class="btn btn-default" data-dismiss="modal" th:text="'취소'"></button>
						</div>
					  </div>
					  
				    </div>
				  </div>
				  
				  <!-- Modal2 -->
				  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog modal-sm" role="document">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <h4 class="modal-title" id="myModalLable" th:text="'참여 완료되었습니다.'"></h4>
				          <button type="button" class="close" data-dismiss="modal" th:text="'x'"></button>
				        </div>
				        <div class="modal-body">
				          <a class="btn btn-success" th:href="@{/#}" th:text="'신청내역보기'"></a>
				        </div>
				        <div class="modal-footer">
				          <a class="btn btn-default pull-rigth" data-dismiss="modal" id="something" th:text="'확인'"></a>
				        </div>
				      </div>
				      
				    </div>
				  </div>
			<a class="btn" role="button" th:href="@{/eventList}" th:text="'목록'"></a>
		</div>
<script>
//모달 생성
$(document).ready(function(){
	$("#signin").on("click", function(){
	 	$('#myModal1').modal('hide');
	});
	$("#signin").on("click", function(){
		$('#myModal2').modal('show');
	});
	$('#something').click(function() {
	    location.reload();
	});
});
</script>
</div>
</body>
</html>