<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{etc/fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>모임 및 이벤트</title>
</head>
<body>
<!-- / header replace / -->
<div th:replace="etc/fragments/header :: header">
<p>header replace</p>
</div>

	<h1>모임 및 이벤트</h1>
	<img th:src="@{/images/event/test.jpg}" style="width:1000x; height:500px">
	<div layout:fragment="content" class="container">
		<div class="jumbotron">
			<ul>
				<li>9월</li>
				<li>10월</li>
				<li>11월</li>
				<li>12월</li>
				<li>1월</li>
				<li>2월</li>
			</ul>
			<p>
				<a class="btn btn-primary" role="button" th:href="@{/meetingList}">모임보기</a>	
				<a class="btn btn-primary" role="button" th:href="@{/eventList}">이벤트보기</a>			
			</p>	
		</div>
	</div>
	
	
<!-- / footer replace / -->
<div th:replace="etc/fragments/footer :: footer">
<p>header replace</p>
</div>
</body>
</html>