<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{etc/fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>모임명</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="jumbotron" style="margin-top: 200px">
			<h3>모임 게시판</h3>
			<h1 th:text="${MeetingView.title}">제목</h1>
			<span th:text="${MeetingView.nickname} + ' | '">닉네임</span>
			<span th:text="${MeetingView.writeTime} + ' | '">작성일</span>
			<span th:text="'조회수 : ' + ${MeetingView.hit}"></span>
			<form>
				<div>
					<br/>
					<span th:text="모임간단소개"></span>
					<p th:text="${MeetingView.simpleIntroduce}"></p>
					<span th:text="모임상세소개"></span>
					<p th:text="${MeetingView.detailIntroduce}"></p>
				</div>
				<div>
					<span>모임정보</span>
					<ul>
						<li th:text="'모임 기간 : '+
						${#dates.format(MeetingView.acceptStartTime, 'yyyy-MM-dd HH:mm')} + ' ~ ' +
						${#dates.format(MeetingView.acceptEndTime, 'yyyy-MM-dd HH:mm')}"></li>
						<li th:text="'접수 기간 : '+
						${#dates.format(MeetingView.meetingStartTime, 'yyyy-MM-dd HH:mm')} + ' ~ ' +
						${#dates.format(MeetingView.meetingEndTime, 'yyyy-MM-dd HH:mm')}"></li>						
						<li th:text="'모집 인원 : '+${MeetingView.recruitNumber}"></li>
					</ul>
				</div>
			</form>

<!-- 			<input type="checkbox" onclick="toggleOn(this)"/> -->
		<!-- 참가하기 모달창 (로그인시에만 참가하기 구현필요, 인원이 만석되면 참가불가 구현필요)-->
			<a class="btn btn-success" data-toggle="modal" href="#myModal1" th:text="'참가하기'"></a>
			  <!-- Modal1 -->
				  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog modal-sm" role="document">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <h5 class="modal-title" id="myModalLable" th:text="'모임에 참가하시겠습니까?'"></h5>
				          <button type="button" class="close" data-dismiss="modal" th:text="'x'"></button>
				        </div>
						<div class="modal-body">
							<form id="goform" action="/participate">
								회원번호:<input type="number" name="memberNumber">					
								<input type="hidden" name="writingNumber" th:value="${MeetingView.writingNumber}">
							</form>
								<button type="submit" class="btn btn-success" id="signin" form="goform" th:text="'참가'"></button>
								<button type="button" class="btn btn-default" data-dismiss="modal" th:text="'취소'"></button>
						</div>
					  </div>
					  
				    </div>
				  </div>
				  
				  <!-- Modal2 -->
				  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog modal-sm" role="document">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <h4 class="modal-title" id="myModalLable" th:text="'참여 완료되었습니다.'"></h4>
				          <button type="button" class="close" data-dismiss="modal" th:text="'x'"></button>
				        </div>
				        <div class="modal-body">
				          <a class="btn btn-success" th:href="@{/#}" th:text="'신청내역보기'"></a>
				        </div>
				        <div class="modal-footer">
				          <a class="btn btn-default pull-rigth" data-dismiss="modal" id="something" th:text="'확인'"></a>
				        </div>
				      </div>
				      
				    </div>
				  </div>
			<a class="btn" role="button" th:href="@{/meetingModifyForm(writingNumber=${MeetingView.writingNumber})}" th:text="'수정'"></a>
			<a class="btn" role="button" th:href="@{/meetingList}" th:text="'목록'"></a>
			<a class="btn btn-danger pull-right" role="button" th:href="@{/meetingDelete(writingNumber=${MeetingView.writingNumber})}" th:text="'삭제'"></a>
		</div>
<script>
//모달 생성
$(document).ready(function(){
	$("#signin").on("click", function(){
	 	$('#myModal1').modal('hide');
	});
	$("#signin").on("click", function(){
		$('#myModal2').modal('show');
	});
	$('#something').click(function() {
	    location.reload();
	});
});
</script>
</div>
</body>
</html>