<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{etc/fragments/Main_layout}">
<head>
<meta charset="UTF-8">
<title>모임 및 이벤트</title>
<style type="text/css">
#jumbotronId {
	background-color: white;
}

#option_wrap {
	border: 1px solid #2eca6a;
	border-radius: 1rem;
	width: 50%;
}
/* body { */
/*     margin :40px 10px; */
/*     padding : 0; */
/*     font-family : "Lucida Grande", Helvetica, Arial, Verdana,sans-serif; */
/*     font-size : 14px; */
/* } */
/* #calendar { */
/*     max-width : 900px; */
/*     margin : 0 auto; */
/* } */
</style>
<!-- <link th:href='@{/fullcalendar/fullcalendar.min.css}' rel='stylesheet' /> -->
<!-- <link th:href='@{/fullcalendar/fullcalendar.print.min.css}' rel='stylesheet' media='print' /> -->
<!-- <link rel='stylesheet' href='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.css' /> -->
</head>
<body id="body">
	<div layout:fragment="content" class="container">
		<div class="jumbotron" id="jumbotronId">
		<div id='calendar'></div>

			<h1>모임 및 이벤트</h1>
			<!-- 베너 -->
			<div id="carouselExampleIndicators" class="carousel slide"
				data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0"
						class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<a href="/eventView?writingNumber=1"><img
							class="d-block w-100" th:src="@{/images/event/banner1.jpg}"
							alt="첫번째 슬라이드"></a>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" th:src="@{/images/event/banner2.jpg}"
							alt="두번째 슬라이드">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" th:src="@{/images/event/banner3.jpg}"
							alt="세번째 슬라이드">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">이전</span>
				</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">다음</span>
				</a>
			</div>



			<div class="row">
				<div class="col">
					<!-- 미니 글 리스트 -->
					<span class="font-weight-bold">모임글</span> <a
						class="font-weight-bold pull-right" role="button"
						th:href="@{/meetingList}">+더보기</a>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="mt : ${mMainList}">
								<td th:text="${mt.writingNumber}">번호</td>
								<td><a
									th:href="@{/meetingView(writingNumber=${mt.writingNumber})}"
									th:text="${mt.title}">제목</a></td>
								<td th:text="${mt.writeTime}">작성일</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col">
					<span class="font-weight-bold">이벤트글</span> <a
						class="font-style-success font-weight-bold pull-right"
						role="button" th:href="@{/eventList}">+더보기</a>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성일</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="et : ${eMainList}">
								<td th:text="${et.writingNumber}">번호</td>
								<td><a
									th:href="@{/eventView(writingNumber=${et.writingNumber})}"
									th:text="${et.title}">제목</a></td>
								<td th:text="${et.writeTime}">작성일</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- fullcalendar -->
<!-- 			<script th:src='@{/fullcalendar/lib/jquery.min.js}'></script> -->
<!-- 			<script th:src='@{/fullcalendar/lib/moment.min.js}'></script> -->
<!-- 			<script th:src='@{/fullcalendar/fullcalendar.min.js}'></script> -->
<!-- 			<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/jquery.min.js'></script> -->
<!-- 			<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/lib/moment.min.js'></script> -->
<!-- 			<script src='https://fullcalendar.io/js/fullcalendar-3.1.0/fullcalendar.min.js'></script> -->
			<script>
				$(document).ready(function() {
	
				    // page is now ready, initialize the calendar...
	
				    $('#calendar').fullCalendar({
				        // put your options and callbacks here
				        left:   'Calendar',
				        center: '',
				        right:  'today prev,next'
				    })
	
				});
// 				 $(document).ready(function() { 
// 					$('#calendar').fullCalendar({
// 						header : {
// 							left : 'prev,next today',
// 							center : 'title',
// 							right : 'month,agendaWeek,agendaDay,listMonth'
// 						},
// 						defaultDate : '2019-01-12',
// 						navLinks : true, // can click day/week names to navigate views
// 						businessHours : true, // display business hours
// 						editable : true,
// 						events : [ {
// 							title : 'Business Lunch',
// 							start : '2019-01-03T13:00:00',
// 							constraint : 'businessHours'
// 						}, {
// 							title : 'Meeting',
// 							start : '2019-01-13T11:00:00',
// 							constraint : 'availableForMeeting', // defined below
// 							color : '#257e4a'
// 						}, {
// 							title : 'Conference',
// 							start : '2019-01-18',
// 							end : '2019-01-20'
// 						}, {
// 							title : 'Party',
// 							start : '2019-01-29T20:00:00'
// 						},

// 						// areas where "Meeting" must be dropped
// 						{
// 							id : 'availableForMeeting',
// 							start : '2019-01-11T10:00:00',
// 							end : '2019-01-11T16:00:00',
// 							rendering : 'background'
// 						}, {
// 							id : 'availableForMeeting',
// 							start : '2019-01-13T10:00:00',
// 							end : '2019-01-13T16:00:00',
// 							rendering : 'background'
// 						},

// 						// red areas where no events can be dropped
// 						{
// 							start : '2019-01-24',
// 							end : '2019-01-28',
// 							overlap : false,
// 							rendering : 'background',
// 							color : '#ff9f89'
// 						}, {
// 							start : '2019-01-06',
// 							end : '2019-01-08',
// 							overlap : false,
// 							rendering : 'background',
// 							color : '#ff9f89'
// 						} ]
// 					});

// 				});
			</script>
			<!-- <script type="text/javascript">
		            present();            
		    </script> -->
		</div>
	</div>
</body>
</html>