<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{etc/fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>모임명</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div layout:fragment="content" class="container">
		<div class="jumbotron" style="margin-top: 200px">
			<h3>모임 게시판</h3>
			<h1 th:text="${MeetingView.title}">제목</h1>
			<span th:text="${MeetingView.nickname} + ' | '">닉네임</span>
			<span th:text="${MeetingView.writeTime} + ' | '">작성일</span>
			<span th:text="'조회수 : ' + ${MeetingView.hit}"></span>
			<form>
				<div>
					<p th:text="${MeetingView.simpleIntroduce}"></p>
					<p th:text="${MeetingView.detailIntroduce}"></p>
				</div>
				<div>
					<p>모임정보</p>
					<ul>
						<li th:text="'모임 기간 : '+
						${#dates.format(MeetingView.acceptStartTime, 'yyyy-MM-dd HH:mm')} + ' ~ ' +
						${#dates.format(MeetingView.acceptEndTime, 'yyyy-MM-dd HH:mm')}"></li>
						<li th:text="'접수 기간 : '+
						${#dates.format(MeetingView.meetingStartTime, 'yyyy-MM-dd HH:mm')} + ' ~ ' +
						${#dates.format(MeetingView.meetingEndTime, 'yyyy-MM-dd HH:mm')}"></li>						
						<li th:text="'모집 인원 : '+${MeetingView.recruitNumber}"></li>
					</ul>
				</div>
			</form>

<!-- 			<input type="checkbox" onclick="toggleOn(this)"/> -->
			<a class="btn btn-primary" data-toggle="modal" data-backdrop="static" href="#myModal" th:text="'참가하기'"></a>
			  <!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog modal-sm">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <h4 class="modal-title">모임에 참가하시겠습니까?</h4>
				          <button type="button" class="close" data-dismiss="modal">×</button>
				        </div>
				        <div class="modal-body">
				          <a class="btn btn-primary" th:href="@{/participate}">참가</a><br/>
				          <a class="btn btn-default" data-dismiss="modal">취소</a>
				        </div>
				      </div>
				      
				    </div>
				  </div>
			<a class="btn btn-primary" role="button" th:href="@{/meetingList}" th:text="'목록'"></a>
			<a class="btn btn-primary" role="button" th:href="@{/meetingModifyForm(writingNumber=${MeetingView.writingNumber})}" th:text="'수정'"></a>
			<a class="btn btn-primary" role="button" th:href="@{/meetingDelete(writingNumber=${MeetingView.writingNumber})}" th:text="'삭제'"></a>
		</div>
	</div>

<script>
function toggleOn(tog) {
	tog.classList.toggle("fa-thumbs-down");
}
</script>
</body>
</html>