<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{etc/fragments/Main_layout}">
<head>
<style type="text/css">

body{
	font-family: 'Jua', sans-serif;
}

#jumbotronId{
    background-color: white;
}
.dlk-radio input[type="radio"]
{
/* 	margin-left:-99999px; */
	display:none;
}
.dlk-radio input[type="radio"] + .fa{
     opacity:0.15
}
.dlk-radio input[type="radio"]:checked + .fa{
    opacity:1
}
</style>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="jumbotron" id="jumbotronId">
			<h1>모임게시판</h1>
			<!-- 베너 -->
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<a href="/eventView?writingNumber=1"><img class="d-block w-100" th:src="@{/images/event/banner1.jpg}" alt="첫번째 슬라이드"></a>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" th:src="@{/images/event/banner2.jpg}" alt="두번째 슬라이드">
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" th:src="@{/images/event/banner3.jpg}" alt="세번째 슬라이드">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">이전</span>
				</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">다음</span>
				</a>
			</div>
			<div class=row>
				<div class="col">				
					<h3>관심사로 모임을 검색해보세요</h3>
				</div>
				<div class="col-1">				
					<input type="button" value="검색">
				</div>
			</div>
<!-- 			<div class="col dlk-radio btn-group"> -->
				 <label class="btn btn-success">
				     <input name="favorite" class="form-control" type="radio" value="IT">
				     <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사1
				</label>
				<label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="컴퓨터">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사2
			   </label>
				<label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="요리">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사3
			   </label>
				<label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="공연/전시">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사4
			   </label>
		   	   <label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="영화">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사5
			   </label>
		   	   <label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="영화">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사6
			   </label>
		   	   <label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="영화">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사7
			   </label>
		   	   <label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="영화">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사8
			   </label>
		   	   <label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="영화">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사9
			   </label>			
		   	   <label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="영화">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사10
			   </label>	
		   	   <label class="btn btn-success">
				    <input name="favorite" class="form-control" type="radio" value="영화">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사11
			   </label>					   
		   	   <label class="btn btn-success">
				    <input name="favorite" class=" form-control" type="radio" value="영화">
				    <i class="fa fa-check glyphicon glyphicon-ok"></i> 관심사12
			   </label>		
<!-- 			</div> -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>번호</th>
						<th>관심사</th>
						<th>제목</th>
						<th>작성자</th>
						<th>조회수</th>
						<th>작성일</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="mt : ${MeetingList}">
						<td th:text="${mt.writingNumber}">번호</td>
						<td th:text="${mt.favorite}">관심사</td>
						<td><a th:href="@{/meetingView(writingNumber=${mt.writingNumber},page=${pageMaker.cri.page},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${mt.title}">제목</a></td>
						<td th:text="${mt.nickname}">작성자</td>
						<td th:text="${mt.hit}">조회수</td>
						<td th:text="${mt.writeTime}">작성일</td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/writeBoardForm}" class="btn btn-outline-success font-weight-bold pull-right" role="button">모임 만들기</a>
			
			<!-- 게시판 하단의 페이징 버튼 -->
<!--             <div class="box-footer"> -->
            <nav aria-label="Page navigation example" style="text-align: center;">
              <ul class="pagination">
              
              <li class="page-item" th:if="${pageMaker.prev} == true">
              	<a th:href="@{/event/meetingList(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
              </li>
              
              <li class="page-item" th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
                <a th:href="@{/meetingList(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a>
              </li>
              
              <li class="page-item" th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
              	<a th:href="@{/meetingList(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
              </li>
              
              </ul>
              </nav>
<!--             </div> -->
		</div>
	</div>
</body>
</html>