<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{etc/fragments/Main_layout}">
<head>
<meta charset="UTF-8">
<title>모임 만들기</title>
<!-- <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">  -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  
<!-- include summernote css/js-->
<link href="/summernote/summernote.css" rel="stylesheet">
<script src="/summernote/summernote.js"></script>
<script src="/summernote/lang/summernote-ko-KR.js"></script>
</head>
<body>

	<div layout:fragment="content" class="container">
		<div class="jumbotron">
			<h3>모임 개설하기</h3>

			<p>대표이미지</p>
			<input type="file" value="선택">
				<form action="/writeBoard" id="writeBoard">
<!-- 					<input type="hidden" name="memberNumber"> -->
					<table class="table">
						<tr>
							<td>작성자</td>
							<td><input type="number" name="memberNumber"></td>
						</tr>
						<tr>
							<td>모임명</td>
							<td><input type="text" name="title"></td>
						</tr>
						<tr>
							<td>모임기간</td>
							<td><input type="date" name="meetingStartTime">부터
							<input type="date" name="meetingEndTime">까지</td>
						</tr>
						<tr>
							<td>접수기간</td>
							<td><input type="date" name="acceptStartTime">부터
							<input type="date" name="acceptEndTime">까지</td>
						</tr>
						<tr>
							<td>모임장소</td>
							<td><input type="text" name="place" placeholder="장소명, 주소를 입력해주세요.">
							<input th:type="text" name="placeDetail" placeholder="나머지 주소를 입력하세요."></td>
						</tr>
						<tr>
							<td>모집인원</td>
							<td><input type="number" name="recruitMaxNumber">명</td>
						</tr>
						<tr>
							<td>성별</td>
							<td>
								<select name="gender">
									<option value="무관">무관</option>
									<option value="남자만">남자만</option>
									<option value="여자만">여자만</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>간단 모임소개</td>
							<td><textarea name="simpleIntroduce" style="width:700px;"></textarea></td>
						</tr>
						<tr>
							<td>상세 모임소개</td>
<!-- 							<td><textarea name="detailIntroduce" id="summernote" rows="10" cols="100" style="width:700px; height:400px;"></textarea></td> -->
								<td><div id="summernote">hello!</div></td>
						</tr>
						<tr>
							<td><input type="button" id="completeBtn" value="개설완료"></td>
						</tr>
					</table>
				</form>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function() {
				//아이디가 content 에 서머노트를 적용 한다.
			  $('#summernote').summernote({
			      height: 300,          // 기본 높이값
			      minHeight: null,      // 최소 높이값(null은 제한 없음)
			      maxHeight: null,      // 최대 높이값(null은 제한 없음)
			      focus: true,          // 페이지가 열릴때 포커스를 지정함
			      lang: 'ko-KR'         // 한국어 지정(기본값은 en-US)
			  });
			});
								
		</script>
	</div>
</body>
</html>