<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{etc/fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>모임 만들기</title>
</head>
<body>

	<div layout:fragment="content" class="container">
		<div class="jumbotron">
			<h3>모임 개설하기</h3>

			<p>대표이미지</p>
			<input type="file" value="선택">
				<form action="/writeBoard">
<!-- 					<input type="hidden" name="memberNumber"> -->
					<table class="table">
						<tr>
							<td>작성자</td>
							<td><input type="number" name="memberNumber"></td>
						</tr>
						<tr>
							<td>모임명</td>
							<td><input type="text" name="title"></td>
						</tr>
						<tr>
							<td>모임기간</td>
							<td><input type="date" name="meetingStartTime">부터
							<input type="date" name="meetingEndTime">까지</td>
						</tr>
						<tr>
							<td>접수기간</td>
							<td><input type="date" name="acceptStartTime">부터
							<input type="date" name="acceptEndTime">까지</td>
						</tr>
						<tr>
							<td>모임장소</td>
							<td><input type="text" name="place" placeholder="장소명, 주소를 입력해주세요.">
							<input th:type="text" name="placeDetail" placeholder="나머지 주소를 입력하세요."></td>
						</tr>
						<tr>
							<td>모집인원</td>
							<td><input type="number" name="recruitNumber">명</td>
						</tr>
<!-- 						<tr> -->
<!-- 							<td>성별</td> -->
<!-- 							<td> -->
<!-- 								<input type="checkbox" name="">무관 -->
<!-- 								<input type="checkbox" name="">남자만 -->
<!-- 								<input type="checkbox" name="">여자만 -->
<!-- 							</td> -->
<!-- 						</tr> -->
						<tr>
							<td>간단 모임소개</td>
							<td><textarea name="simpleIntroduce"></textarea></td>
						</tr>
						<tr>
							<td>상세 모임소개</td>
							<td><textarea name="detailIntroduce"></textarea></td>
						</tr>
						<tr>
							<td><input type="submit" name="writeBoard" value="개설완료"></td>
						</tr>
					</table>
				</form>
		</div>
	</div>
</body>
</html>