<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.knockknock.mapper.MeetingAndEventMapper">

    <select id="meetingCount" resultType="int">
        SELECT
            COUNT(*)
        FROM MEETING
    </select>
    <select id="eventCount" resultType="int">
        SELECT
            COUNT(*)
        FROM EVENT
    </select>
    <select id="meetingList" resultType="MeetingVDTO">
    	<![CDATA[
			SELECT
			    MT.WRITING_NUMBER writingNumber, MT.TITLE, MT.WRITE_TIME writeTime, MT.HIT, MT.FAVORITE, MB.NICKNAME
			FROM
			    MEETING MT, MEMBER MB
			WHERE WRITING_NUMBER > 0 AND MT.MEMBER_NUMBER = MB.MEMBER_NUMBER
			ORDER BY WRITING_NUMBER DESC, WRITE_TIME DESC
			LIMIT #{pageStart}, #{perPageNum}
    	]]>
    </select>
    <select id="meetingView" resultType="MeetingVDTO" parameterType="int">
        SELECT
            MT.WRITING_NUMBER writingNumber, MT.TITLE, MT.HIT, MT.IMAGE, MT.PLACE, 
            MT.PLACE_DETAIL placeDetail, MT.WRITE_TIME writeTime,
            MT.ACCEPT_START_TIME acceptStartTime, MT.ACCEPT_END_TIME acceptEndTime,
            MT.MEETING_START_TIME meetingStartTime, MT.MEETING_END_TIME meetingEndTime,
            MT.RECRUIT_NUMBER recruitNumber, MT.RECRUIT_MAX_NUMBER recruitMaxNumber,
            MT.SIMPLE_INTRODUCE simpleIntroduce, MT.DETAIL_INTRODUCE detailIntroduce,
            MT.FAVORITE, MB.NICKNAME
        FROM MEETING MT, MEMBER MB
        WHERE MT.MEMBER_NUMBER=MB.MEMBER_NUMBER AND WRITING_NUMBER = #{writingNumber}
    </select>
    <insert id="meetingInsert">
    	INSERT INTO MEETING
	    	(MEMBER_NUMBER, TITLE, MEETING_START_TIME, MEETING_END_TIME,
	    	ACCEPT_START_TIME, ACCEPT_END_TIME, PLACE, PLACE_DETAIL, RECRUIT_MAX_NUMBER,
	    	SIMPLE_INTRODUCE, DETAIL_INTRODUCE, GENDER, HIT, WRITE_TIME, FAVORITE)
    	VALUES
	    	(#{memberNumber},#{title},#{meetingStartTime},#{meetingEndTime},
	    	#{acceptStartTime},#{acceptEndTime},#{place},#{placeDetail},
	    	#{recruitMaxNumber},#{simpleIntroduce},#{detailIntroduce},#{gender},0,NOW(),#{favorite})
    </insert>
    <update id="meetingViewHit">
		UPDATE MEETING
		SET HIT = HIT + 1
		WHERE WRITING_NUMBER = #{writingNumber}
	</update>
	<select id="meetingModifyForm" resultType="MeetingDTO">
		SELECT WRITING_NUMBER writingNumber, MEMBER_NUMBER memberNumber, TITLE, MEETING_START_TIME meetingStartTime,
		MEETING_END_TIME MEETING_END_TIME, ACCEPT_START_TIME acceptStartTime, ACCEPT_END_TIME acceptEndTime,
		PLACE, PLACE_DETAIL placeDetail, RECRUIT_NUMBER recruitNumber,
	    SIMPLE_INTRODUCE simpleIntroduce, DETAIL_INTRODUCE detailIntroduce
		FROM MEETING
		WHERE WRITING_NUMBER = #{writingNumber}
	</select>
    <update id="meetingModify">
    	UPDATE MEETING
    	SET
    		TITLE = #{title}, MEETING_START_TIME = #{meetingStartTime}, MEETING_END_TIME = #{meetingEndTime},
    		ACCEPT_START_TIME = #{acceptStartTime}, ACCEPT_END_TIME = #{acceptEndTime},
    		PLACE = #{place}, PLACE_DETAIL = #{placeDetail}, RECRUIT_NUMBER = #{recruitNumber},
	    	SIMPLE_INTRODUCE = #{simpleIntroduce}, DETAIL_INTRODUCE = #{detailIntroduce}
	    WHERE WRITING_NUMBER = #{writingNumber}
    </update>
    <delete id="meetingDelete" parameterType="int">     
    	DELETE FROM MEETING WHERE WRITING_NUMBER = #{writingNumber}
    </delete>
	<insert id="participate"> <!-- 참가하기 -->
		INSERT INTO JOIN_MEETING (WRITING_NUMBER, MEMBER_NUMBER)
		VALUES (#{writingNumber}, #{memberNumber})
	</insert>
</mapper>