<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.knockknock.mapper.MemberMapper">
    <insert id="register">
        insert into member(member_number,grade,email,password,nickname,name,birth,gender,join_Time)
		values
		(0,#{grade},#{email},#{password},#{nickname},#{name},now(),'남자',now())
    </insert>

	<select id="checkEmail" resultType="MemberDTO">
		select
		M.EMAIL email
		from member M
		where email = #{email}
	</select>
	
    <select id="findById" resultType="MemberDTO">
    	select email,password,grade from member 
    	where email = #{id}
    </select>
    
    <select id="findByEmail" resultType="MemberDTO">
    	select email, password, grade from member 
    	where email = #{email}
    </select>
    
    <select id="findByName" resultType="MemberDTO">
    	select 
    	M.EMAIL email,
    	M.NAME name
    	from member M
    	where 
    	M.NAME = #{name}
    	AND M.PHONE_NUMBER = #{phoneNumber}
    </select>
    
    <select id="getMMLJ" resultType="MeetingVDTO">
    	SELECT
    	(SELECT M.NICKNAME FROM MEMBER M WHERE MT.MEMBER_NUMBER=M.MEMBER_NUMBER) AS NICKNAME,
    	MT.TITLE,
		MT.ACCEPT_END_TIME acceptEndTime,
    	MT.MEETING_START_TIME meetingStartTime,
    	MT.MEETING_END_TIME meetingEndTime,
    	JM.MEETING_STATUS meetingStatus
    	FROM MEMBER M, MEETING MT, JOIN_MEETING JM 
    	WHERE JM.MEMBER_NUMBER 
    	= (SELECT M.MEMBER_NUMBER FROM MEMBER M WHERE M.EMAIL = #{email})
    	AND M.MEMBER_NUMBER = JM.MEMBER_NUMBER
    	AND JM.WRITING_NUMBER = MT.WRITING_NUMBER
    </select>
    
    <select id="getMMLM" resultType="MeetingVDTO">
    	SELECT
    	MT.TITLE,
    	MT.ACCEPT_END_TIME acceptEndTime,
    	MT.MEETING_START_TIME meetingStartTime,
    	MT.MEETING_END_TIME meetingEndTime
    	FROM MEETING MT
    	WHERE MT.MEMBER_NUMBER 
    	= (SELECT M.MEMBER_NUMBER FROM MEMBER M WHERE M.EMAIL = #{email})
    </select>
</mapper>