<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.knockknock.mapper.ReviewMapper">

	<!-- <insert id="insert">
		INSERT INTO REVIEW (MEMBER_NUMBER, BRANCH_NUMBER, CONTENT, WRITE_TIME)
		VALUES (#{memberNumber), #{branchNumber},#{content}, now())
	</insert> -->

</mapper>