<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{etc/fragments/main_layout}">
<head>
    <title>낙낙-방찾기</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <div class="jumbotron" style="margin-top:200px">
		<div class="map_wrap">
		    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
		</div>

	<!-- 지도 좌표 -->
	<p><em>지도 중심좌표가 변경되면 지도 정보가 표출됩니다</em></p>	
	<p id="result"></p>

	 	<!-- <form name="formSearch"  id="formSearch" onsubmit="return false;"> -->
			<input type="text" name="address" id='searchAddress'>
			<select name="gender">
				<option name="남자" value="남자">남자</option>
				<option name="여자" value="여자">여자</option>
				<option name="공용" value="공용">공용</option>
			</select>
			<button type="submit" value="찾기" name='roomSearch' id='roomSearch'>검색</button>
		<!-- </form>  --> 
    </div>

<!-- gallery Page Content -->
    <div class="container" id="container">
      <h1 class="my-4 text-center text-lg-left">입주가능 방 목록</h1>

	      <div class='row text-center text-lg-left' id='allGallery'>
	      	<!-- thymeleaf gallery test -->
	        <div th:each='dto:${lists}' class='col-lg-3 col-md-4 col-xs-6' name='list' id='list'>
	          <a th:href="@{'/roomDetailView/?branch_number='+${dto.branch_number}}" class='d-block mb-4 h-100' id='gallery'>
	            <img class='img-fluid img-thumbnail' src="http://placehold.it/400x300" alt="" id='img'>
	          	<span th:text='${dto.branch_number}' id='branch_number'/>
				<span th:text='${dto.address}' name='addressList' id='addressList'/>
	          </a>
	        </div>
	        <!-- /.thymeleaf gallery test -->
	      </div>
    </div>
<!-- /.container -->

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d4bcec44279a03821440e0f867851605&libraries=services"></script>
<script>

//마커를 담을 배열입니다
var markers = [];

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new daum.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };  

// 지도를 생성합니다    
var map = new daum.maps.Map(mapContainer, mapOption); 

//주소->좌표변환 객체 생성
var geocoder = new daum.maps.services.Geocoder();
//리스트 출력한 name="address"를 getElementsByName으로 받아서 address변수에 대입
var addressList = document.getElementsByName("addressList");
//<주소를 지도 위에 띄우기>
window.onload = function(){
	for(i=0; i<=addressList.length; i++){
   		geocoder.addressSearch(addressList[i].textContent, callback);
	}
}

function map1(){
	for(i=0; i<=addressList.length; i++){
   		geocoder.addressSearch(addressList[i].textContent, callback);
	}
	location.reload();
	
}

var coords;

//장소검색이 완료됐을 때 호출되는 콜백함수 입니다
var callback = function(result, status){
    if (status === daum.maps.services.Status.OK) {
    	//좌표를 넣는 메서드
    	coords = new daum.maps.LatLng(result[0].y, result[0].x);
    	
        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new daum.maps.Marker({
            map: map,
            position: coords
        });
        map.setCenter(coords);
    }
};

$.noConflict();

jQuery(document).ready(function(){
	jQuery('#roomSearch').on('click',function(){

		var address = jQuery("#searchAddress").val();
		var content="";
		
		jQuery.ajax({
			method:'post',
			url:'/branch/FindingRoom',
			data: {"address":address},
			async : false,
			success:function(data){
				jQuery("#allGallery").remove();
				
				content += "<h1 class='my-4 text-center text-lg-left'>입주가능 방 목록</h1><div class='row text-center text-lg-left' id='allGallery'>"
				for(i=0; i<data.length; i++){
					content+=
					"<div class='col-lg-3 col-md-4 col-xs-6' name='list' id='list'>"
					+
					"<a href='/roomDetailView/?branch_number="+ data[i].branch_number
					+ "' class='d-block mb-4 h-100' id='gallery'><img class='img-fluid img-thumbnail' src='http://placehold.it/400x300' alt=''>" 
					+"<span name='addressList' id='addressList'>" + data[i].address + "</span></a></div>";
				}
				content+="</div>";
					
				jQuery("#container").html(content);
				map1();
			},
			error:function(data){
				alert("error");
			}
		});
	});
});
</script>
</div>

</body>
</html>