<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{etc/fragments/Main_layout}">
<head>
    <title>낙낙-방찾기</title>
<style>

#jumbotronId{
    padding: 2rem 1rem;
    margin-bottom: 0rem;
    background-color: white;
    border-radius: 1rem;
}

</style>
    
</head>
<body>
<!-- container -->
<div layout:fragment="content" class="container">
    <div class="jumbotron" id='jumbotronId' style="margin-top:200px">
		<div class="map_wrap">
		    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
		</div>

	<!-- 지도 좌표 -->
	<p><em>지도 중심좌표가 변경되면 지도 정보가 표출됩니다</em></p>	
	<p id="result"></p>

		<input type="text" name="address" id='searchAddress'>
		<select name="gender">
			<option name="남자" value="남자">남자</option>
			<option name="여자" value="여자">여자</option>
			<option name="공용" value="공용">공용</option>
		</select>
		<button type="submit" value="찾기" name='roomSearch' id='roomSearch'>검색</button>
	
    </div>

	<!-- gallery Page Content -->
    <div class="container" id="container">
    
      <h1 class="my-4 text-center text-lg-left"><strong><span style="color:#2eca6a">입주가능</span> 방 목록</strong></h1>

	      <div class='row text-center text-lg-left' id='allGallery'>
	      	<!-- thymeleaf gallery-->
	        <div th:each='dto:${lists}' class='col-lg-3 col-md-4 col-xs-6' name='list' id='list'>
	          <a th:href="@{'/HouseInfo/?branchNumber='+${dto.branchNumber}}" class='d-block mb-4 h-100' id='gallery'>
	            <img class='img-fluid img-thumbnail' src="http://placehold.it/400x300" alt="" id='img'>
	          	<span th:text='${dto.branchNumber}' id='branchNumber'/>
				<span th:text='${dto.address}' name='addressList' id='addressList'/>
	          </a>
	        </div>
	        <!-- /.thymeleaf gallery-->
	      </div>
	      <input th:text=${simpleValue} id='simpleSearchValue'>
    </div>
<!-- /.container -->
<script>

//제이쿼리 충돌방지 문법 체인지
$.noConflict();

//마커를 담을 배열
var markers = [];

var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
    mapOption = {
        center: new daum.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
        level: 8 // 지도의 확대 레벨
    };  

// 지도를 생성
var map = new daum.maps.Map(mapContainer, mapOption); 
//주소->좌표변환 객체 생성
var geocoder = new daum.maps.services.Geocoder();
//리스트 출력한 name="addressList"를 getElementsByName으로 받아서 addressList 변수에 대입
var addressList = document.getElementsByName("addressList");
//좌표를 담는 메서드
var coords;
//메인메뉴 방검색 여부 확인용 값
var simpleSearchValue = document.getElementById('simpleSearchValue');

//심플룸검색하면 룸검색값이 생성됨
//룸검색값으로 조건을 주기
//룸검색값이 있으면,윈도우 온로드를 실행하지않는다

//갤러리,주소를 지도 위에 띄우기
	window.onload = function(){
		for(k=0; k<addressList.length; k++){
	   		geocoder.addressSearch(addressList[k].textContent, callback);
		}
	}


//방검색시 주소를 갤러리,지도 위에 띄우기
function searchMap(){
	for(k=0; k<addressList.length; k++){
		geocoder.addressSearch(addressList[k].textContent, callback);
	}
}

//장소검색이 완료됐을 때 호출되는 콜백함수 
var callback = function(result, status){
    if (status === daum.maps.services.Status.OK) {
    	coords = new daum.maps.LatLng(result[0].y, result[0].x);
        // 결과값으로 받은 위치를 마커로 표시
        var marker = new daum.maps.Marker({
            map: map,
            position: coords
        });
        
        //'검색'을 눌렀을 때, 마커 삭제
        jQuery("#roomSearch").on('click',function(){
    		marker.setMap(null);
        });
        
    	map.setCenter(coords);
    }
};

//ajax 방 로딩
jQuery(document).ready(function(){
	jQuery('#roomSearch').on('click',function(){
		jQuery(".row text-center text-lg-left").hide();

		var address = jQuery("#searchAddress").val();
		var content="";
		
		jQuery.ajax({
			method:'post',
			url:'/roomSearch',
			data: {"address":address},
			async : false,
			success:function(data){
				jQuery("#allGallery").remove();
				
				if(data[0].address!=null){
					content += "<h1 class='my-4 text-center text-lg-left'><strong><span style='color:#2eca6a'>입주가능</span> 방 목록</strong></h1><div class='row text-center text-lg-left' id='allGallery'>"
					for(i=0; i<data.length; i++){
						content+=
						"<div class='col-lg-3 col-md-4 col-xs-6' name='list' id='list'>"
						+
						"<a href='/roomDetailView/?branch_number="+ data[i].branch_number
						+ "' class='d-block mb-4 h-100' id='gallery'><img class='img-fluid img-thumbnail' src='http://placehold.it/400x300' alt=''>" 
						+"<span name='addressList' id='addressList'>" + data[i].address + "</span></a></div>";
					}
					content+="</div>";
						
					jQuery("#container").html(content);
					searchMap();
				}
			},
			error:function(data){
				alert("error");
			}
		});
	});
});
</script>
</div>

</body>
</html>