<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{etc/fragments/main_layout}">
<head>
<title>낙낙-지점 정보 등록</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style>
	.roomInfo input{
		width: 20px;
	}
</style>
<body>



	<div layout:fragment="content" class="container">


		<div class="jumbotron">
			<h1>지점 등록 페이지</h1>
		</div>

		<div>
			<div></div>

			<div id="review" class="w3-container">
				<h2>리뷰</h2>
				<br />

				<form>

					<div class="row">
						<div class="col-md-3">
							<a th:href="@{adminEventListView}">이벤트관리</a><br>
							<a th:href="@{adminMemberSearch}">회원관리</a><br>
							<a th:href="@{adminQuestionList}">1:1문의관리</a><br>
							<a th:href="@{adminVisitList}">방문문의관리</a><br>
							<a th:href="@{adminBranchRegist}">지점등록</a><br>
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<h4>작성자 번호</h4>
								<input type="number" name="memberNumber">
								<h4>테마</h4>
								<input type="text" name="theme">
								<h4>지점은행</h4>
								<input type="text" name="bankName">
								<h4>지점은행 예금주</h4>
								<input type="text" name="depositor">
								<h4>지점은행 계좌</h4>
								<input type="text" name="branchAccount">
								<h4>성별</h4>
								<select name="gender">
									<option value="공용">공용</option>
									<option value="남">남</option>
									<option value="여">여</option>
								</select>
								<h4>소개글</h4>
								<textarea name="introduce"></textarea>
								<h4>주차장</h4>
								<select name="isParking">
									<option value="yes">있음</option>
									<option value="no">없음</option>
								</select>
								<h4>엘리베이터</h4>
								<select name="isElevator">
									<option value="yes">있음</option>
									<option value="no">없음</option>
								</select>
								<h4>반려동물 가능여부</h4>
								<select name="pet">
									<option value="yes">가능</option>
									<option value="no">불가능</option>
								</select>
								<h4>주소</h4>
								<input type="text" value="여기에 주소 넣을거임">
								<h4>방 정보</h4>
								<table class="roomInfo">
									<tr>
										<td>방 호수</td>
										<td>성별</td>
										<td>타입</td>
										<td>면적</td>
										<td>보증금</td>
										<td>월세</td>
										<td>입주가능일</td>
									</tr>
									<tr>
										<td><input type="number" name="roomNumber"></td>
										<td><select name="roomGender">
												<option value="남">남</option>
												<option value="여">여</option>
										</select></td>
										<td><select name="roomType">
												<option value="1인실">1인실</option>
												<option value="2인실">2인실</option>
												<option value="3인실">3인실</option>
												<option value="4인실">4인실</option>
										</select></td>
										<td><input type="text" name="roomSpace"></td>
										<td><input type="number" name="roomDeposit"></td>
										<td><input type="number" name="roomMonthlyRent"></td>
										<td><input type="date" name="roomRentableDate"></td>
									</tr>
									<tr>
										<td><input type="number" name="roomNumber"></td>
										<td><select name="roomGender">
												<option value="남">남</option>
												<option value="여">여</option>
										</select></td>
										<td><select name="roomType">
												<option value="1인실">1인실</option>
												<option value="2인실">2인실</option>
												<option value="3인실">3인실</option>
												<option value="4인실">4인실</option>
										</select></td>
										<td><input type="text" name="roomSpace"></td>
										<td><input type="number" name="roomDeposit"></td>
										<td><input type="number" name="roomMonthlyRent"></td>
										<td><input type="date" name="roomRentableDate"></td>
									</tr>
									<tr>
										<td><input type="number" name="roomNumber"></td>
										<td><select name="roomGender">
												<option value="남">남</option>
												<option value="여">여</option>
										</select></td>
										<td><select name="roomType">
												<option value="1인실">1인실</option>
												<option value="2인실">2인실</option>
												<option value="3인실">3인실</option>
												<option value="4인실">4인실</option>
										</select></td>
										<td><input type="text" name="roomSpace"></td>
										<td><input type="number" name="roomDeposit"></td>
										<td><input type="number" name="roomMonthlyRent"></td>
										<td><input type="date" name="roomRentableDate"></td>
									</tr>
									<tr>
										<td><input type="number" name="roomNumber"></td>
										<td><select name="roomGender">
												<option value="남">남</option>
												<option value="여">여</option>
										</select></td>
										<td><select name="roomType">
												<option value="1인실">1인실</option>
												<option value="2인실">2인실</option>
												<option value="3인실">3인실</option>
												<option value="4인실">4인실</option>
										</select></td>
										<td><input type="text" name="roomSpace"></td>
										<td><input type="number" name="roomDeposit"></td>
										<td><input type="number" name="roomMonthlyRent"></td>
										<td><input type="date" name="roomRentableDate"></td>
									</tr>
									<tr>
										<td><input type="number" name="roomNumber"></td>
										<td><select name="roomGender">
												<option value="남">남</option>
												<option value="여">여</option>
										</select></td>
										<td><select name="roomType">
												<option value="1인실">1인실</option>
												<option value="2인실">2인실</option>
												<option value="3인실">3인실</option>
												<option value="4인실">4인실</option>
										</select></td>
										<td><input type="text" name="roomSpace"></td>
										<td><input type="number" name="roomDeposit"></td>
										<td><input type="number" name="roomMonthlyRent"></td>
										<td><input type="date" name="roomRentableDate"></td>
									</tr>
									<tr>
										<td><input type="number" name="roomNumber"></td>
										<td><select name="roomGender">
												<option value="남">남</option>
												<option value="여">여</option>
										</select></td>
										<td><select name="roomType">
												<option value="1인실">1인실</option>
												<option value="2인실">2인실</option>
												<option value="3인실">3인실</option>
												<option value="4인실">4인실</option>
										</select></td>
										<td><input type="text" name="roomSpace"></td>
										<td><input type="number" name="roomDeposit"></td>
										<td><input type="number" name="roomMonthlyRent"></td>
										<td><input type="date" name="roomRentableDate"></td>
									</tr>
									<tr>
										<td><input type="number" name="roomNumber"></td>
										<td><select name="roomGender">
												<option value="남">남</option>
												<option value="여">여</option>
										</select></td>
										<td><select name="roomType">
												<option value="1인실">1인실</option>
												<option value="2인실">2인실</option>
												<option value="3인실">3인실</option>
												<option value="4인실">4인실</option>
										</select></td>
										<td><input type="text" name="roomSpace"></td>
										<td><input type="number" name="roomDeposit"></td>
										<td><input type="number" name="roomMonthlyRent"></td>
										<td><input type="date" name="roomRentableDate"></td>
									</tr>
									<tr>
										<td><input type="number" name="roomNumber"></td>
										<td><select name="roomGender">
												<option value="남">남</option>
												<option value="여">여</option>
										</select></td>
										<td><select name="roomType">
												<option value="1인실">1인실</option>
												<option value="2인실">2인실</option>
												<option value="3인실">3인실</option>
												<option value="4인실">4인실</option>
										</select></td>
										<td><input type="text" name="roomSpace"></td>
										<td><input type="number" name="roomDeposit"></td>
										<td><input type="number" name="roomMonthlyRent"></td>
										<td><input type="date" name="roomRentableDate"></td>
									</tr>

								</table>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-default">완료</button>
				</form>

			</div>

		</div>

	</div>






</body>
</html>

