<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{etc/fragments/Main_layout}">
<head>
<title>방문 문의</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
body{
font-family: 'Jua', sans-serif;
}
</style>

</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="jumbotron">
			<h1>방문 문의 글</h1>
		</div>
		<div class="row">
			<div class="col-md-2">
				<h3>관리 메뉴</h3>
				<div class="sidenav">
					<a th:href="@{adminEventListView}">이벤트관리</a><br> <a
						th:href="@{adminMemberSearchView}">회원관리</a><br> <a
						th:href="@{adminVisitList}">방문문의관리</a><br> <a
						th:href="@{adminBranchRegistView}">지점등록</a><br>
				</div>
			</div>
			<div class="col-md-10">
				<table id="table" class="w3-table-all">
					<tr>
						<td>글번호</td>
						<td>호수</td>
						<td>닉네임</td>
						<td>작성시간</td>
					</tr>
					<tr>
						<td th:text="${visitView.writingNumber}"></td>
						<td th:text="${visitView.branchNumber}"></td>
						<td th:text="${visitView.nickname}"></td>
						<td th:text="${visitView.writeTime}"></td>
					</tr>
					<tr>
						<td colspan="1">방문 예약 시간</td>
						<td colspan="3" th:text=${visitView.reservationTime}></td>
					</tr>
					<tr>
						<td colspan="1">이름</td>
						<td colspan="3" th:text=${visitView.name}></td>
					</tr>
					<tr>
						<td colspan="1">메모사항</td>
						<td colspan="3" th:text=${visitView.memo}></td>
					</tr>
					<tr>
						<td colspan="1">확인여부</td>
						<td colspan="3" th:text=${visitView.ischeck}></td>
					</tr>
					<tr>
						<td colspan="1"></td>
						<td colspan="1">
							<form action="adminVisitList">
								<input type="submit" value="목록으로">
							</form>
						</td>
						<td colspan="1">
							<form action="adminVisitCheck">
								<input type="hidden" name="writingNumber"
									th:value="${visitView.writingNumber}"> <input
									type="submit" value="확인체크">
							</form>
						</td>
						<td colspan="1">
							<form action="/">
								<input type="submit" value="main">
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>

