<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

table{
	border:1px solid black;
}

td{
	border:1px solid black;
}
</style>
</head>
<body>
<div style="display:inline-block width:30% float:left">
<ul>
	<li>이벤트 관리</li>
	<li>회원 관리</li>
	<li>1:1 문의 관리</li>
	<li>방문 문의 관리</li>
	<li>방 등록</li>
</ul>
</div>
<div style="display:inline-block width:70% float:left">
<table>
    <form action="eventModify">
    	<tr>
            <td>number</td>
            <td><input type="hidden" name="writingNumber" th:value="${eventModifyView.writingNumber}"></td>
            <td><input type="hidden" name="memberNumber" th:value="${eventModifyView.memberNumber}"></td>
        </tr>
        <tr>
            <td>title</td>
            <td><input type="text" name="title" th:value="${eventModifyView.title}"></td>
        </tr>
        <tr>
            <td>event start time</td>
            <td><input type="date" name="eventStartTime" th:value="${eventModifyView.eventStartTime}"></td>
        </tr>
        <tr>
            <td>event end time</td>
            <td><input type="date" name="eventEndTime" th:value="${eventModifyView.eventEndTime}"></td>
        </tr>
        <tr>
            <td>accept start time</td>
            <td><input type="date" name="acceptStartTime" th:value="${eventModifyView.acceptStartTime}"></td>
        </tr>
        <tr>
            <td>accept end time</td>
            <td><input type="date" name="acceptEndTime" th:value="${eventModifyView.acceptEndTime}"></td>
        </tr>
        <tr>
        	<td>recruit number</td>
        	<td><input type="number" name="recruitNumber" th:value="${eventModifyView.recruitNumber}"></td>
        </tr>
        <tr>
            <td>content</td>
            <td><textarea name="content" th:value="${eventModifyView.content}"></textarea></td>
        </tr>
        <tr>
            <td>send</td>
            <td><input type="submit" name="eventModify"></td>
        </tr>
    </form>
</table>
</div>
</body>
</html>