<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{etc/fragments/Main_layout}">
<head>
<title>계약 등록 페이지</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
body{
font-family: 'Jua', sans-serif;
}


</style>

</head>
<body>
	<div layout:fragment="content" class="container"
		style="margin-top: 7em;">
		<div class="jumbotron">
			<h1>계약 정보 등록</h1>
		</div>
		<div class="row">
			<div class="col-md-2">
				<h3>관리 메뉴</h3>
				<div class="sidenav">
					<a th:href="@{adminEventListView}">이벤트관리</a><br> <a
						th:href="@{adminMemberSearchView}">회원관리</a><br> <a
						th:href="@{adminVisitList}">방문문의관리</a><br> <a
						th:href="@{adminBranchRegistView}">지점등록</a><br>
				</div>
			</div>
			<div class="col-md-10">
				<form action="adminContractRegist">
					<table>
						<tr>
							<td><h3>입력 정보</h3></td>
							<td><input type="hidden" name="memberNumber"
								th:value="${memberNumber}"></td>
						</tr>
						<tr>
							<td>회원번호</td>
							<td th:text=${memberNumber}></td>
						</tr>
						<tr>
							<td>계약일</td>
							<td><input type="Date" name="contractDate"></td>
						</tr>
						<tr>
							<td>계약기간</td>
							<td><input type="number" name="period"></td>
						</tr>
						<tr>
							<td>계약 지점</td>
							<td><input type="number" name="branchNumber"></td>
						</tr>
						<tr>
							<td>계약 방 번호</td>
							<td><input type="number" name="roomNumber"></td>
						</tr>
						<tr>
							<td>비상 연락 번호</td>
							<td><input type="text" name="emergencyNumber"></td>
						</tr>
						<tr>
							<td>반려동물 여부</td>
							<td><select name="isPet">
									<option value="yes">유</option>
									<option value="no">무</option>
							</select></td>
						</tr>
						<tr>
							<td>회원 은행명</td>
							<td><input type="text" name="bankName"></td>
						</tr>
						<tr>
							<td>회원 예금주</td>
							<td><input type="text" name="depositor"></td>
						</tr>
						<tr>
							<td>회원 계좌번호</td>
							<td><input type="text" name="memberAccount"></td>
						</tr>
						<tr>
							<td>주민등록번호</td>
							<td><input type="text" name="idNumber"></td>
						</tr>
						<tr>
							<td>메모</td>
							<td><input type="text" name="memo"></td>
						</tr>
						<tr>
							<td>등록</td>
							<td><input type="submit" name="등록"></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

