<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" 
layout:decorate="~{etc/fragments/main_layout}">
<head>
    <title>낙낙-멤버 찾</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>



<div layout:fragment="content" class="container">

<div layout:fragment="content" class="container">
    <div class="jumbotron">
        <h1>멤버 찾기 페이지</h1>
    </div>
</div>

</div>


</body>
</html>

