<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{etc/fragments/Main_layout}">
<head>
<title>회원 정보</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
h1, h2, h3, h4, h5, h6{
	font-family: 'Jua', sans-serif;
}

body{
	font-family: 'Jua', sans-serif;
	margin-top:80px;
}

.sidenav {
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 130px;
	left: 60px;
	background: #eee;
	overflow-x: hidden;
	padding: 8px 0;
	margin-right: 40px;
}

#sidenav{
	background-color:white;
	border: 1px solid #2eca6a;
	color:#2eca6a;
	font-weight:bolder;
	border-radius: 1rem;

}

.sidenav a {
	padding: 10px 10px 10px 16px;
	text-decoration: none;
	font-size: 30px;
	color: #2eca6a;
	display: block;
}

.sidenav a:hover {
	color: #064579;
}

#title{
	color:#2eca6a;
	font-size:larger;
	font-weight:bolder;
	margin-bottom:30px;
}
</style>

</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="row">
			<div class="col-md-2">
				<h3>관리 메뉴</h3>
				<div class="sidenav" id='sidenav'>
					<a th:href="@{adminEventListView}">이벤트관리</a><br> <a
						th:href="@{adminMemberSearchView}">회원관리</a><br> <a
						th:href="@{adminVisitList}">방문문의관리</a><br> <a
						th:href="@{adminBranchRegistView}">지점등록</a><br>
				</div>
			</div>
			<div class="col-md-10">
				<div class="w3-container">
					<h1 id='title'>회원 정보</h1>
					<table class="w3-table-all">
						<tr>
							<td colspan="1">회원번호</td>
							<td colspan="3" th:text=${memberView.memberNumber}></td>
						</tr>
						<tr>
							<td colspan="1">권한</td>
							<td colspan="3" th:text=${memberView.grade}></td>
						</tr>
						<tr>
							<td colspan="1">이메일</td>
							<td colspan="3" th:text=${memberView.email}></td>
						</tr>
						<tr>
							<td colspan="1">닉네임</td>
							<td colspan="3" th:text=${memberView.nickname}></td>
						</tr>
						<tr>
							<td colspan="1">이름</td>
							<td colspan="3" th:text=${memberView.name}></td>
						</tr>
						<tr>
							<td colspan="1">가입일</td>
							<td colspan="3" th:text=${memberView.joinTime}></td>
						</tr>
						<tr>
							<td colspan="1">생일</td>
							<td colspan="3" th:text=${memberView.birth}></td>
						</tr>
						<tr>
							<td colspan="1">성별</td>
							<td colspan="3" th:text=${memberView.gender}></td>
						</tr>
						<tr>
							<td colspan="1">주소</td>
							<td colspan="3" th:text=${memberView.address}></td>
						</tr>
						<tr>
							<td colspan="1">상세주소</td>
							<td colspan="3" th:text=${memberView.addressDetail}></td>
						</tr>
						<tr>
							<td colspan="1">주소지 이름</td>
							<td colspan="3" th:text=${memberView.addressName}></td>
						</tr>
						<tr>
							<td colspan="1">휴대폰 번호</td>
							<td colspan="3" th:text=${memberView.phoneNumber}></td>
						</tr>
						<tr>
							<td colspan="1">계약번호</td>
							<td colspan="3" th:text=${memberView.contractNumber}></td>
						</tr>
						<tr>
							<td colspan="1">거주중인 지점 호수</td>
							<td colspan="3" th:text=${memberView.branchNumber}></td>
						</tr>
						<tr>
							<td colspan="1">거주중인 방 호수</td>
							<td colspan="3" th:text=${memberView.roomNumber}></td>
						</tr>
						<tr>
							<td colspan="1">반려동물 보유 여부</td>
							<td colspan="3" th:text=${memberView.isPet}></td>
						</tr>
						<tr>
							<td colspan="1">비상연락번호</td>
							<td colspan="3" th:text=${memberView.emergencyNumber}></td>
						</tr>
						<tr>
							<td colspan="1">회원 은행명</td>
							<td colspan="3" th:text=${memberView.bankName}></td>
						</tr>
						<tr>
							<td colspan="1">회원 예금주</td>
							<td colspan="3" th:text=${memberView.depositor}></td>
						</tr>
						<tr>
							<td colspan="1">회원 계좌번호</td>
							<td colspan="3" th:text=${memberView.memberAccount}></td>
						</tr>
						<tr>
							<td colspan="1">계약일</td>
							<td colspan="3" th:text=${memberView.contractDate}></td>
						</tr>
						<tr>
							<td colspan="1">계약기간(개월)</td>
							<td colspan="3" th:text=${memberView.period}></td>
						</tr>
						<tr>
							<td colspan="1">주민등록번호</td>
							<td colspan="3" th:text=${memberView.idNumber}></td>
						</tr>
						<tr>
							<td colspan="1">체납금액</td>
							<td colspan="3" th:text=${memberView.payDelayAmount}></td>
						</tr>
						<tr>
							<td colspan="1">패널티금액</td>
							<td colspan="3" th:text=${memberView.paneltyAmount}></td>
						</tr>
						<tr>
							<td colspan="1">메모</td>
							<td colspan="3" th:text=${memberView.memo}></td>
						</tr>
						<tr>
							<td colspan="1"></td>
							<td colspan="1">
								<form action="adminContractRegistView">
									<input type="hidden" name="memberNumber"
										th:value="${memberView.memberNumber}"> <input
										type="submit" value="계약 정보 등록">
								</form>
							</td>
							<td colspan="1">
								<form action="adminVisitList">
									<input type="hidden" name="memberNumber"
										th:value="${memberView.memberNumber}"> <input
										type="submit" value="방문문의내역">
								</form>
							</td>
							<td colspan="1">
								<form action="/">
									<input type="submit" value="메인으로">
								</form>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

