<header layout:fragment="header">
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
        	<!-- <span class="icon icon-cog"></span> -->
			<h1><a href="#">Knock Knock 樂樂</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="active"><a href="/" accesskey="1" title="">메인</a></li>
				<li><a href="/a" accesskey="2" title="">방찾기</a></li>
				<li><a href="#" accesskey="3" title="">관심사로 방찾기</a></li>
				<li><a href="#" accesskey="4" title="">입주안내</a></li>
				<li><a href="#" accesskey="5" title="">이벤트 및 모임</a></li>
				<li><a href="#" accesskey="6" title="">고객센터</a></li>
			</ul>
		</div>
	</div>
</div>
<script src="js/css.js"></script>
</header>
